*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    max-width: 1220px;
    margin: 0 auto;
}
header{
    padding:30px 0 ;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav ul{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 200px;
}
nav ul li a{
    text-decoration: none    ;
    color: black;
}
button{
    padding: 12px 25px;
    border-radius: 8px ;
border: 2px solid #DE2E54;
background-color: white;
color: #DE2E54;

}
.hero{
    background-image: url("./8d77a05aae0b5a86186ed1ee3cd1a093fd90802f\ \(2\).png");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 30px 0;
}
.hero .container{
    display: flex;
    align-items: center;
    justify-content: space-around   ;
}
.hero-text{
    color: white;
 
}
.xizmat{
  padding: 50px 0;
}
.xizmat h2{
    text-align: center;
 margin-bottom: 20px;
 font-size: 36px;
}
.ota{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 150px;
    margin-top: 50px ;
}
.yozuv{
    width: 450px;
}
.contact{
    padding: 50px 0;
    background-color: #0EB4C1;
  
}
.contact h2{
    text-align: center;
    font-size: 36px;
    margin-bottom: 50px;
}
.ota2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 150px
    ;
}
.input-ota{
 width: 540px;
 height: 331px;
 background-color: white;
 border-radius: 10px;
 padding: 27px 40px;
}
input{
    width: 460px;
    height: 39px;   
    padding: 15px;
    border: 1px solid black;
    border-radius: 8px;
    margin: 10px;
}
.input-ota button{
    width: 460px;
    height: 40px;
    background-color: green;
    color: white;
    border-radius: 8px;
    margin-top: 15px;
}
button:hover{
  background-color: #DE2E54;
  color: white;
   transition: 1s;
}
.xizmat img{
    width: 350px;
    border-radius: 20px;
}